---
import Footer from '../components/footer.astro';
---
<html>
	<head>
		<title>Static Webpage</title>
		<style is:global>
			@import "../styles/index.css";
		</style>
	</head>
	<body>
		<Footer></Footer>
	</body>
</html>

