<footer class="blur">
    <small>copyright <span id = "copyrightYear"></span> Deisgn</small>
</footer>
<script>
    document.querySelector('#copyrightYear').textContent = (new Date().getFullYear()).toString();
</script>